{{#each posts as |post|}}

        <div value="{{post.id}}"class="post">
            <div class="postTitle">
                <h4>{{post.title}}</h4>
                <h6>{{format_date post.date_created}}</h6>
            </div>
            <div class="postContent">
                <div>
                    <h5>{{post.content}}</h5>
                    <h6>   --- {{post.user.userName}}</h6>
                </div>
               
                {{!-- <h6>Posted On: <br> {{format_date post.date_created}}</h6> --}}
            </div>
            {{#if ../logged_in}}
                <button class="commentBtn">Add a comment</button>
            {{/if}}
            {{!-- <button id="{{post.id}}"class="showComment">Show Comments</button>
            <button class="hideComment hide">Hide Comments</button> --}}
        </div>

          {{#each comments as |comment|}}
          

              <div value="{{comment.id}}"class="post">
                <div class="postContent">
                    <div>
                        <h5>{{comment.content}}</h5>
                        <h6>   --- {{comment.user.userName}}</h6>
                    </div>
                    <h6>{{format_date comment.date_created}}</h6>
                </div>
            </div>
        
        {{/each}}
      
{{/each}}



<script src="/js/script.js"></script>