{{#if logged_in}}
    <h1>HEY WHAT IS UP</h1>
{{/if}}

{{#each posts}}

        <div class="post">
            <div class="postTitle">
                <h4>{{this.title}}</h4>
            </div>
            <div class="postContent">
                <h5>{{this.content}}</h5>
                <h6>   --- {{this.user.userName}}</h6>
                <h6>Posted On: <br> {{format_date this.date_created}}</h6>
            </div>
            {{#if ../logged_in}}
                <button id="commentBtn">Add a comment</button>
            {{else}}
                <h2>NO BUTTON</h2>
            {{/if}}
        </div>

{{/each}}